<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to Bookstore</title>
</head>
<body>
<h1>Welcome to Bookstore</h1>
<h3>By. Niko Hautala</h3>
<h2>Chapter 3</h2>
<p>
1. Bookstore: Add JPA and database
<br>a.) Add JPA support and H2 database to your bookstore project (in GitHub) by modifying
pom.xml file.
<br>b.) Create an entity from your Book class
<br>c.) Add command line runner to insert few examplele data to your database
<br>d.) Modify properties to show sql statements in the console
<br>e.) Enable H2 console
</p>
<p>
2. Bookstore: Listpage
<br>Create a template called booklist.html which shows all books from the database in html table. To
show the books you have to add new method to controller that handle GET request from endpoint
like /booklist.
</p>
<p>
3. Bookstore: Crud
<br>Add Create and Delete functionalities to your Bookstore application
<br>For create functionality add new thymeleaf template called addstudent.html
<br>For deletion use @PathVariable annotation
</p>
<p>
4. Edit Bookstore
<br>Add edit functionality to your bookstore. Create edit link after delete link to your listpage. Edit link
will open current book in the edit page.
<br>Tip. Check ‘Add book’-functionality from the controller. In add functionality you added new book
object to model but now you will add current book object to model. You also have to send current
book id from the list page to controller (like you did in delete link).
</p>
<p>
5. Bookstore: A Little bit Front-end (Extra)
<br>1.) Add Bootstrap to your bookstore application. Download bootstrap.min.js from the bootstrap
site. Copy it to your projects resources\static\css folder (Create the folder if it does
not exist). Add link to your booklist template file.
<br>link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" 
<br>2.) Add class="table table-striped" to your table html element
<br>3.) Add class="btn btn-success" to your ‘Add Book’- button html element
<br>4.) Add class="btn btn-danger" to your ‘Delete’- button html element
</p>
<a href="https://hhmoodle.haaga-helia.fi/pluginfile.php/1755697/mod_resource/content/2/Chapter4DAO.pdf">T4</a>
</body>
</html>